<!-- Render an "Your Order is Complete" once user payment has been processed -->
<br>
<br>
<br>
<div class="container text-light" style="background: #000; width: 400px;">
<br>
<br>
<h3 style="color: pink;">Your Order is Complete</h3>
<br>
<!-- Enables user to download their purchase artwork -->
<%= link_to "Download Your Artwork" %>
<br>
<br>
<br>
</div>