<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container">  
        <div class="main">
        <h1 class="text-center text-dark" style="font-size:45px;">About Us</h1>
        <p class="text-center text-dark">In today's modern society artists varying from paint artists, digital artists to graphic designers are in constant competition with the big chain stores who sell a variety of low cost interior designs, including artworks, therefore leaving little to no room for competition for today's struggling artists.</p>
        <p class="text-center text-dark">D-Artiste intends to pave the way and create a love for quality and unique art by allowing new and uprising artists to showcase their talents and to make a mark in the digital world.</p>
        <p class="text-center text-dark">D-Artiste aims at building a community of art lovers who appreciate uniqueness and creativity.</p>
        <h2 class="text-center"></h2>
        <p class="text-center"></p>
        <%= link_to "Sign Up", artworks_path, class: "btn btn-dark btn-lg text-white", type: "button" %>
        </div>
    </div>
</div>

