<!-- Renders "Contact" page -->
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container">  
        <div class="main">
            <h1 class="text-center text-dark">Contact Us</h1>
            <p class="text-center"></p>
            <h2 class="text-center"></h2>
            <p class="text-center"></p>
            <!-- Contact Form -->
            <form>
                <div class="form-group col-md-12">
                <label for="inputEmail4">Name</label>
                <input type="Name" class="form-control" id="inputName" placeholder="Name">
                </div>
                
                <div class="form-group col-md-12">
                <label for="inputPassword4">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                </div>
                
                <div class="form-group col-md-12">
                    <label for="inputTextArea">Message</label>
                    <input type="text" class="form-control" id="inputTextArea" placeholder="Type Message">
                </div>
                <br>
                <button type="submit" class="btn btn-dark btn-lg">Get In Touch</button>
            </form>
        </div>
    </div>
</div>
