<div>
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container">  
        <div class="main">
        <br>
        <br>
        <br>
        <h1 class="text-center text-dark">Welcome to D-Artiste</h1>
        <p class="text-center text-dark">Info about D-Artiste goes here</p>
        <%= link_to "Sell Your Art", new_artwork_path, class: "btn bg-secondary btn-lg text-white", type: "button" %>
        <%= link_to "Buy Art", artworks_path, class: "btn bg-dark btn-lg text-white", type: "button" %>
        </div>
    </div>
</div>

