<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container">  
        <div class="main">
        <h1 class="text-center text-dark" style="font-size: 40px;">Welcome to your digital art world</h1>
        <p class="text-center text-dark">A community for digital artists and art lovers, where art matters!</p>
        <p class="text-center text-dark">Take the hassle out of selling your art by removing printing, framing and postage costs, therefore reducing the costs for art lovers who prefer buying unique and creative digital art and having the freedom to print with their local printer in their preferred size and frame choice.</p>
        <%= link_to "Sell Your Art", new_artwork_path, class: "btn bg-secondary btn-lg text-white", type: "button" %>
        <%= link_to "Buy Art", artworks_path, class: "btn bg-dark btn-lg text-white", type: "button" %>
        </div>
    </div>
</div>

