<div style="background-image: url(/assets/background-pink-blue.jpg); background-repeat: no-repeat; background-attachment: fixed; background-position: center; background-size: cover;">
<!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid bg-transparent">
        <div class="container">  
            <div class="main">
            <br>
            <br>
            <br>
            <h1 class="text-center text-dark">Welcome to D-Artiste</h1>
            <p class="text-center text-dark">Info about D-Artiste goes here</p>
            <%= link_to "View Artwork", artworks_path, class: "btn btn-dark btn-lg text-white", type: "button" %>
            </div>
        </div>
    </div>
</div>
