<div class="container text-white" style="background: #000;">
<br>
<br>
<br>
<h1>New Art</h1>

<%= render 'form', art: @art %>
<br>
<%= link_to 'Back', arts_path, class: "text-light" %>
<br>
<br>
</div>