<!-- Accessible to a signed-in user from the "My Account" tab in the nav bar -->
<!-- User can select "Add New Art" from their "My Account" tab -->
<!-- Renders "New Art" form partial _form.html.erb -->
<!-- Enables user to create a new artwork and save it to their account -->
<div class="container">
<br>
<br>
<br>
<div class="container" style="background-color: pink; color: #000; width: 400px;">
<br>
<h3>New Art</h3>
<br>
</div>
<%= render 'form', art: @art %>
<br>
<%= link_to 'Back', arts_path, class: "btn btn-dark btn-md text-white" %>
<br>
<br>
</div>