<div class="container">
<br>
<br>
<br>
<div class="container bg-secondary text-light" style="width: 400px;">
<br>
<h3>New Art</h3>
<br>
</div>
<%= render 'form', art: @art %>
<br>
<%= link_to 'Back', arts_path, class: "btn btn-dark btn-md text-white" %>
<br>
<br>
</div>